/* ===========================
   RESET E ESTILOS BASE
   =========================== */

* {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  overflow: hidden;
}

/* ===========================
   SCROLLBAR
   =========================== */

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgba(182, 28, 123, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(57, 4, 83, 0.8);
}

/* ===========================
   BODY
   =========================== */

body {
  background: url('../img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  overflow: hidden;
  height: 100vh;
}

/* ===========================
   MAIN CONTAINER
   =========================== */

main {
  padding: 0.5rem;
  margin: 3rem 1rem;
  border: 1px solid;
  border-radius: 1rem;
  position: relative;
  height: calc(100vh - 7rem);
  overflow-y: auto;
}

main::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 0;
  width: 4rem;
  height: 4rem;
  background-image: url("../data/icones/menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* ===========================
   RESPONSIVE
   =========================== */

@media screen and (min-width: 748px) {
  main {
    max-width: 1024px;
    margin: 2rem auto;
  }
}


