/* ===========================
   HEADER - LAYOUT PRINCIPAL
   =========================== */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===========================
   HEADER - FOTO
   =========================== */

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* ===========================
   HEADER - TÍTULO
   =========================== */

.title {
  text-align: center;
}

/* ===========================
   HEADER - INFORMAÇÕES
   =========================== */

.information {
  width: 100%;
  margin-left: 3rem;
}

.information a {
  color: white;
  display: block;
  font-weight: 400;
  margin: 1rem .5rem 1rem 0;
}

/* ===========================
   HEADER - ÍCONES NAS INFORMAÇÕES
   =========================== */

.information a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin: 0px 0px 16px 0px;
}

.information a:hover {
  text-decoration: underline;
}

.information p::before, a::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.information a::after {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-left: 0.3rem;
  background-image: url("/data/icones/link.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.information .job::before {
  background-image: url("/data/icones/job.svg");
}

.information .location::before {
  background-image: url("/data/icones/location.svg");
  transform: translateY(2px);
}

.information .phone::before {
  background-image: url("/data/icones/phone.svg");
}

.information .email::before {
  background-image: url("/data/icones/email.svg");
}

/* ===========================
   RESPONSIVE
   =========================== */

@media screen and (min-width: 748px) {
  .header {
    max-width: 748px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 2rem;
    justify-items: center;
  }

  .photo {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .title {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    text-align: start;
  }

  .title span {
    display: block;
  }

  .information {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
  }

  .information p {
    margin-left: 0;
  }
}
